.autocomplete {
	position: relative;
	display: inline-block;
}
input[type=text] {
	@apply bg-gray-100 w-64 md:w-96 px-4 py-2;
}
.autocomplete-items {
	@apply border border-gray-200 border-t-0 border-b-0 absolute left-0 right-0 z-10 max-h-96 overflow-y-auto;
}
.autocomplete-items div {
	@apply p-2 bg-white border border-gray-200 cursor-pointer whitespace-nowrap overflow-x-hidden;
}
.autocomplete-items div:hover {
	@apply bg-gray-100;
}
.autocomplete-active {
	@apply bg-accent text-white !important;
}
.autocomplete-items div .type-icon {
	width: 1.25rem;
	display: inline;
	padding: 0.25rem;
	margin-left: 0.25rem;
	border-radius: 50%;
}
.autocomplete-items div .type-icon[src*=undefined] {
	display: none;
}

/* dark mode */
body.dark-mode .autocomplete-items div {
	@apply bg-gray-800;
}
body.dark-mode .autocomplete-items div:hover {
	@apply bg-gray-700;
}