.matchup-item {
	@apply px-2 py-1 text-white my-1;
}
#matchups.leave {
	opacity: 0;
	animation: bounceOutLeft 0.5s;
	-webkit-animation: bounceOutLeft 0.5s;
}
#matchups.enter {
	animation: fadeInDown 1s ease-in;
	-webkit-animation: fadeInDown 1s ease-in;
}
