#snackbar {
	visibility: hidden;
	opacity: 0;
	min-width: 16rem;
	margin-left: -8rem;
	bottom: 0;
	left: 50%;
	@apply bg-gray-700 text-white text-center rounded p-4 fixed font-bold z-40;
	transition: opacity 0.5s, bottom 0.5s;
}

#snackbar.show {
	visibility: visible;
	opacity: 1;
	bottom: 2rem;
}
