@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	::-moz-selection {
		@apply bg-indigo-100;
	}
	::selection {
		@apply bg-indigo-100;
	}
	*:focus, button:focus {
		@apply outline-none ring-2 ring-indigo-300;
	}
	button, img, svg {		
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;

		-webkit-user-drag: none;
		-khtml-user-drag: none;
		-moz-user-drag: none;
		-o-user-drag: none;
		user-drag: none;
	}

	h1 {
		@apply text-2xl tracking-wider;
	}
	h2 {
		@apply text-xl;
	}
	p {
		@apply leading-relaxed;
	}

	body, p, h1, h2, button, input {
		@apply text-gray-700;
	}

}

@layer components {

	.btn {
		@apply rounded p-4 cursor-pointer;
	}
	.btn.sm {
		@apply p-2;
	}
	.btn.hover-outline {
		@apply border-2 border-transparent hover:border-gray-700;
	}
	.btn.hover-fill {
		@apply hover:bg-gray-700 hover:text-white;
		transition: background-color 0.25s, color 0.25s;
	}

	.btn svg {
		@apply place-self-center;
	}

	/* purgecss start ignore */

	#type-btns .btn {
		@apply py-2 px-4 mx-1 my-1 overflow-x-hidden xl:my-2 xl:mx-2;
		background-size: 200%;
	}
	.animations #type-btns .btn {
		transition: background-position 0.25s ease-out, color 0.25s;
	}
	#type-btns .btn:hover:not(.active) {
		background-position: 75%;
	}
	#type-btns .btn.active {
		background-position: left;
		color: #FFF;
	}

	.btn.normal {
		border: 2px solid #A8A878;
		background: linear-gradient(to right, #A8A878 50%, #FFF 50%) right;
	}
	.btn.normal:focus {
		--tw-ring-shadow: 0 0 0 2px #A8A87844;
	}
	.btn.fighting {
		border: 2px solid #C03028;
		background: linear-gradient(to right, #C03028 50%, #FFF 50%) right;
	}
	.btn.fighting:focus {
		--tw-ring-shadow: 0 0 0 2px #C0302844;
	}
	.btn.flying {
		border: 2px solid #A890F0;
		background: linear-gradient(to right, #A890F0 50%, #FFF 50%) right;
	}
	.btn.flying:focus {
		--tw-ring-shadow: 0 0 0 2px #A890F044;
	}
	.btn.poison {
		border: 2px solid #A040A0;
		background: linear-gradient(to right, #A040A0 50%, #FFF 50%) right;
	}
	.btn.poison:focus {
		--tw-ring-shadow: 0 0 0 2px #A040A044;
	}
	.btn.ground {
		border: 2px solid #E0C068;
		background: linear-gradient(to right, #E0C068 50%, #FFF 50%) right;
	}
	.btn.ground:focus {
		--tw-ring-shadow: 0 0 0 2px #E0C06844;
	}
	.btn.rock {
		border: 2px solid #B8A038;
		background: linear-gradient(to right, #B8A038 50%, #FFF 50%) right;
	}
	.btn.rock:focus {
		--tw-ring-shadow: 0 0 0 2px #B8A03844;
	}
	.btn.bug {
		border: 2px solid #A8B820;
		background: linear-gradient(to right, #A8B820 50%, #FFF 50%) right;
	}
	.btn.bug:focus {
		--tw-ring-shadow: 0 0 0 2px #A8B82044;
	}
	.btn.ghost {
		border: 2px solid #705898;
		background: linear-gradient(to right, #705898 50%, #FFF 50%) right;
	}
	.btn.ghost:focus {
		--tw-ring-shadow: 0 0 0 2px #70589844;
	}
	.btn.steel {
		border: 2px solid #B8B8D0;
		background: linear-gradient(to right, #B8B8D0 50%, #FFF 50%) right;
	}
	.btn.steel:focus {
		--tw-ring-shadow: 0 0 0 2px #B8B8D044;
	}
	.btn.fire {
		border: 2px solid #F08030;
		background: linear-gradient(to right, #F08030 50%, #FFF 50%) right;
	}
	.btn.fire:focus {
		--tw-ring-shadow: 0 0 0 2px #F0803044;
	}
	.btn.water {
		border: 2px solid #6890F0;
		background: linear-gradient(to right, #6890F0 50%, #FFF 50%) right;
	}
	.btn.water:focus {
		--tw-ring-shadow: 0 0 0 2px #6890F044;
	}
	.btn.grass {
		border: 2px solid #78C850;
		background: linear-gradient(to right, #78C850 50%, #FFF 50%) right;
	}
	.btn.grass:focus {
		--tw-ring-shadow: 0 0 0 2px #78C85044;
	}
	.btn.electric {
		border: 2px solid #F8D030;
		background: linear-gradient(to right, #F8D030 50%, #FFF 50%) right;
	}
	.btn.electric:focus {
		--tw-ring-shadow: 0 0 0 2px #F8D03044;
	}
	.btn.psychic {
		border: 2px solid #F85888;
		background: linear-gradient(to right, #F85888 50%, #FFF 50%) right;
	}
	.btn.psychic:focus {
		--tw-ring-shadow: 0 0 0 2px #F8588844;
	}
	.btn.ice {
		border: 2px solid #98D8D8;
		background: linear-gradient(to right, #98D8D8 50%, #FFF 50%) right;
	}
	.btn.ice:focus {
		--tw-ring-shadow: 0 0 0 2px #98D8D844;
	}
	.btn.dragon {
		border: 2px solid #7038F8;
		background: linear-gradient(to right, #7038F8 50%, #FFF 50%) right;
	}
	.btn.dragon:focus {
		--tw-ring-shadow: 0 0 0 2px #7038F844;
	}
	.btn.dark {
		border: 2px solid #705848;
		background: linear-gradient(to right, #705848 50%, #FFF 50%) right;
	}
	.btn.dark:focus {
		--tw-ring-shadow: 0 0 0 2px #70584844;
	}
	.btn.fairy {
		border: 2px solid #EE99AC;
		background: linear-gradient(to right, #EE99AC 50%, #FFF 50%) right;
	}
	.btn.fairy:focus {
		--tw-ring-shadow: 0 0 0 2px #EE99AC44;
	}

	/* -------- Matchups -------- */

	.matchup-item {
		@apply px-2 py-1 text-white my-1;
	}

	#matchups.leave {
		opacity: 0;
	}

	.animations #matchups.leave {
		animation: bounceOutLeft 0.5s;
		-webkit-animation: bounceOutLeft 0.5s;
	}
	.animations #matchups.enter {
		animation: fadeInDown 1s ease-in;
		-webkit-animation: fadeInDown 1s ease-in;
	}

	/* source: https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css */
	@-webkit-keyframes bounceOutLeft {
		20%{opacity:1;-webkit-transform:translate3d(24px,0,0) scaleX(.9);transform:translate3d(24px,0,0) scaleX(.9)}
		to{opacity:0;-webkit-transform:translate3d(-1200px,0,0) scaleX(2);transform:translate3d(-1200px,0,0) scaleX(2)}
	}
	@keyframes bounceOutLeft {
		20%{opacity:1;-webkit-transform:translate3d(24px,0,0) scaleX(.9);transform:translate3d(24px,0,0) scaleX(.9)}
		to{opacity:0;-webkit-transform:translate3d(-1200px,0,0) scaleX(2);transform:translate3d(-1200px,0,0) scaleX(2)}
	}
	@-webkit-keyframes fadeInDown {
		0%{overflow:hidden;max-height:0;}
		to{max-height:100vh;}
	}
	@keyframes fadeInDown {
		0%{overflow:hidden;max-height:0;}
		to{max-height:100vh;}
	}

	/* -------- Autocomplete -------- */

	* { box-sizing: border-box; }
	.autocomplete {
		position: relative;
		display: inline-block;
	}
	input[type=text] {
		@apply bg-gray-100 w-64 md:w-96 px-4 py-2;
	}
	.autocomplete-items {
		@apply border border-gray-200 border-t-0 border-b-0 absolute left-0 right-0 z-10 max-h-96 overflow-y-auto;
	}
	.autocomplete-items div {
		@apply p-2 bg-white border border-gray-200 cursor-pointer whitespace-nowrap overflow-x-hidden;
	}
	.autocomplete-items div:hover {
		@apply bg-gray-100;
	}
	.autocomplete-active {
		@apply bg-indigo-500 text-white !important;
	}
	.autocomplete-items div .type-icon {
		width: 1.25rem;
		display: inline;
		padding: 0.25rem;
		margin-left: 0.25rem;
		border-radius: 50%;
	}
	.autocomplete-items div .type-icon[src*=undefined] {
		display: none;
	}

	/* purgecss end ignore */

	/* -------- Modal -------- */

	.modal {
		@apply pt-8 fixed left-0 top-0 hidden w-full h-full overflow-auto bg-gray-700 bg-opacity-50;
	}
	.modal-content {
		@apply rounded border-2 border-gray-300 bg-white p-6 pt-3 relative m-auto w-3/4;
	}
	.animations .modal-content {
		animation: animateTop 0.25s;
		-webkit-animation: animateTop 0.25s;
	}
	.modal .btn.close {
		float: right;
	}
	.modal h1 {
		@apply text-left mt-3;
	}
	.modal h1 svg {
		display: inline;
	}
	.modal-header {
		@apply border-b-2 border-gray-300 pb-9;
	}
	.modal-body {
		@apply pt-4 text-left;
	}

	@keyframes animateTop {
		from{top:-240px; opacity:0;}
		to{top:0; opacity:1;}
	}
	@-webkit-keyframes animateTop {
		from{top:-240px; opacity:0;}
		to{top:0; opacity:1;}
	}

	/* -------- Toggle -------- */

	.toggle-container {
		@apply relative inline-block w-10 mr-2 align-middle select-none transition duration-500;
	}
	.toggle-checkbox {
		@apply left-0 absolute block w-6 h-6 rounded-full bg-white border-4 appearance-none cursor-pointer;
	}
	.toggle-checkbox:checked {
		@apply left-4 border-gray-500;
	}

	.toggle-checkbox + .toggle-bg {
		@apply block overflow-hidden h-6 rounded-full bg-gray-300 cursor-pointer;
	}
	.toggle-checkbox:checked + .toggle-bg {
		@apply bg-gray-500;
	}
	.toggle-label:hover {
		@apply text-gray-500;
	}

	/* -------- Dropdown and Select -------- */

	.dropdown {
		position: relative;
		display: inline-block;
	}
	.dropdown-content {
		@apply absolute right-0 bg-white border-2 border-gray-200 z-10 overflow-auto;
		min-width: 12rem;
	}
	.dropdown-content a {
		@apply block px-4 py-2 hover:bg-gray-100 cursor-pointer;
	}
	.dropdown-content a:not(:last-child) {
		@apply border-b-2 border-gray-200;
	}
	.dropdown-content.show {
		display: block;
	}
	.dropdown-content:not(.show) {
		display: none;
	}

	.animations .dropdown-content.show,
	.animations .select-content.show {
		animation: fadeInDown 0.5s;
		-webkit-animation: fadeInDown 0.5s;
	}

	.select-btn {
		@apply inline-flex border-2 border-gray-200 cursor-pointer px-4 py-2 text-sm hover:bg-gray-50 overflow-hidden w-48;
	}
	.select-content {
		@apply absolute right-0 w-48 border-t-0;
	}
	.select-content a {
		@apply block text-sm;
	}

	/* -------- Type Icons -------- */

	#type-btns .btn .type-icon {
		display: none; /* default for sm screens */
	}

}

@media (min-width: 640px) { /* sm */
	#type-btns .btn .type-icon {
		width: 1rem;
		display: inline;
	}
	.animations #type-btns .btn .type-icon {
		transition: width 0.25s;
	}
	#type-btns .btn:not(.active) .type-icon {
		width: 0px;
	}
}

@media (min-width: 768px) { /* md */
}

@media (min-width: 1024px) { /* lg */
}

@media (min-width: 1280px) { /* xl */
}


