#type-btns .btn {
	@apply py-2 px-4 mx-1 my-1 overflow-x-hidden xl:my-2 xl:mx-2;
	background-size: 200%;
	transition: background-position 0.25s ease-out, color 0.25s;
}
#type-btns .btn.active {
	background-position: left;
	color: white;
}

.btn.normal {
	border: 2px solid #a8a878;
	background: linear-gradient(to right, #a8a878 50%, transparent 50%) right;
}
.btn.fighting {
	border: 2px solid #c03028;
	background: linear-gradient(to right, #c03028 50%, transparent 50%) right;
}
.btn.flying {
	border: 2px solid #a890f0;
	background: linear-gradient(to right, #a890f0 50%, transparent 50%) right;
}
.btn.poison {
	border: 2px solid #a040a0;
	background: linear-gradient(to right, #a040a0 50%, transparent 50%) right;
}
.btn.ground {
	border: 2px solid #e0c068;
	background: linear-gradient(to right, #e0c068 50%, transparent 50%) right;
}
.btn.rock {
	border: 2px solid #b8a038;
	background: linear-gradient(to right, #b8a038 50%, transparent 50%) right;
}
.btn.bug {
	border: 2px solid #a8b820;
	background: linear-gradient(to right, #a8b820 50%, transparent 50%) right;
}
.btn.ghost {
	border: 2px solid #705898;
	background: linear-gradient(to right, #705898 50%, transparent 50%) right;
}
.btn.steel {
	border: 2px solid #b8b8d0;
	background: linear-gradient(to right, #b8b8d0 50%, transparent 50%) right;
}
.btn.fire {
	border: 2px solid #f08030;
	background: linear-gradient(to right, #f08030 50%, transparent 50%) right;
}
.btn.water {
	border: 2px solid #6890f0;
	background: linear-gradient(to right, #6890f0 50%, transparent 50%) right;
}
.btn.grass {
	border: 2px solid #78c850;
	background: linear-gradient(to right, #78c850 50%, transparent 50%) right;
}
.btn.electric {
	border: 2px solid #f8d030;
	background: linear-gradient(to right, #f8d030 50%, transparent 50%) right;
}
.btn.psychic {
	border: 2px solid #f85888;
	background: linear-gradient(to right, #f85888 50%, transparent 50%) right;
}
.btn.ice {
	border: 2px solid #98d8d8;
	background: linear-gradient(to right, #98d8d8 50%, transparent 50%) right;
}
.btn.dragon {
	border: 2px solid #7038f8;
	background: linear-gradient(to right, #7038f8 50%, transparent 50%) right;
}
.btn.dark {
	border: 2px solid #705848;
	background: linear-gradient(to right, #705848 50%, transparent 50%) right;
}
.btn.fairy {
	border: 2px solid #ee99ac;
	background: linear-gradient(to right, #ee99ac 50%, transparent 50%) right;
}
#type-btns .btn .type-icon {
	display: none;
}
#type-btns .btn:focus {
	@apply ring-gray-300;
}

html.dark #type-btns .btn {
	color: white;
}

@media (min-width: 640px) {
	/* sm */
	#type-btns .btn .type-icon {
		width: 1rem;
		display: inline;
		transition: width 0.25s;
	}
	#type-btns .btn:not(.active) .type-icon {
		width: 0px;
	}

	#type-btns .btn:hover:not(.active) {
		background-position: 87.5%;
	}
}
