/* Global styles, PostCSS syntax */

@import './css/button.css';
@import './css/dropdown.css';
@import './css/snackbar.css';
@import './css/typebutton.css';
@import './css/typechart.css';
@import './css/weather.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	* {
		box-sizing: border-box;
	}
	::-moz-selection {
		@apply bg-accent bg-opacity-50;
	}
	::selection {
		@apply bg-accent bg-opacity-50;
	}
	*:focus,
	button:focus {
		@apply outline-none ring-2 ring-accent;
	}
	button,
	img,
	svg {
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;

		-webkit-user-drag: none;
		-khtml-user-drag: none;
		-moz-user-drag: none;
		-o-user-drag: none;
		user-drag: none;
	}

	h1 {
		@apply text-2xl tracking-wider;
	}
	h2 {
		@apply text-xl;
	}
	h3 {
		font-weight: bold;
	}
	p {
		@apply leading-relaxed;
	}
	.modal a {
		@apply text-accent hover:underline;
	}

	body,
	p,
	h1,
	h2,
	button,
	input {
		@apply text-gray-700;
	}

	/* dark mode */
	body.dark {
		@apply bg-gray-900;
	}
	body.dark textarea,
	body.dark input {
		@apply bg-gray-800 text-gray-100;
	}
	body.dark,
	body.dark p,
	body.dark h1,
	body.dark h2,
	body.dark button:not(#type-btns button) {
		@apply text-gray-100;
	}
}

@layer components {
	.matchup-item {
		@apply px-2 py-1 text-white my-1;
	}

	/* source: https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css */
	@-webkit-keyframes fadeInDown {
		0% {
			overflow: hidden;
			max-height: 0;
		}
		to {
			max-height: 100vh;
		}
	}
	@keyframes fadeInDown {
		0% {
			overflow: hidden;
			max-height: 0;
		}
		to {
			max-height: 100vh;
		}
	}
}

@media (min-width: 640px) {
	/* sm */
}

@media (min-width: 768px) {
	/* md */
}

@media (min-width: 1024px) {
	/* lg */
}

@media (min-width: 1280px) {
	/* xl */
}
