@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	::-moz-selection {
		@apply bg-indigo-100;
	}
	::selection {
		@apply bg-indigo-100;
	}
	*:focus, button:focus {
		@apply outline-none ring-2 ring-indigo-300;
	}
	button, img, svg {		
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;

		-webkit-user-drag: none;
		-khtml-user-drag: none;
		-moz-user-drag: none;
		-o-user-drag: none;
		user-drag: none;
	}

	h1 {
		@apply text-2xl font-light;
	}
	h2 {
		@apply text-xl font-medium;
	}
	p {
		@apply leading-relaxed;
	}
}

@layer components {

	.btn {
		@apply rounded py-2 px-4;
		cursor: pointer;
	}
	.btn.xs {
		@apply px-1;
	}
	.btn.sm {
		@apply py-1 px-2;
	}
	.btn.md {
		@apply py-2 px-4;
	}

	/* purgecss start ignore */

	#type-btns .btn {
		@apply mx-2 my-1 overflow-x-hidden;
		/*transition: background-color 0.25s linear, color 0.25s linear;*/
	}
	#type-btns .btn:hover:not(.active) {
		opacity: 0.75;
	}


	.btn.normal {
		border: 2px solid #A8A878;
		color: #000;
	}
	.btn.normal:hover, .btn.normal.active {
		background-color: #A8A878;
		color: #FFF;
	}
	.btn.normal:focus {
		--tw-ring-shadow: 0 0 0 2px #A8A87844;
	}
	.btn.fighting {
		border: 2px solid #C03028;
		color: #000;
	}
	.btn.fighting:hover, .btn.fighting.active {
		background-color: #C03028;
		color: #FFF;
	}
	.btn.fighting:focus {
		--tw-ring-shadow: 0 0 0 2px #C0302844;
	}
	.btn.flying {
		border: 2px solid #A890F0;
		color: #000;
	}
	.btn.flying:hover, .btn.flying.active {
		background-color: #A890F0;
		color: #FFF;
	}
	.btn.flying:focus {
		--tw-ring-shadow: 0 0 0 2px #A890F044;
	}
	.btn.poison {
		border: 2px solid #A040A0;
		color: #000;
	}
	.btn.poison:hover, .btn.poison.active {
		background-color: #A040A0;
		color: #FFF;
	}
	.btn.poison:focus {
		--tw-ring-shadow: 0 0 0 2px #A040A044;
	}
	.btn.ground {
		border: 2px solid #E0C068;
		color: #000;
	}
	.btn.ground:hover, .btn.ground.active {
		background-color: #E0C068;
		color: #FFF;
	}
	.btn.ground:focus {
		--tw-ring-shadow: 0 0 0 2px #E0C06844;
	}
	.btn.rock {
		border: 2px solid #B8A038;
		color: #000;
	}
	.btn.rock:hover, .btn.rock.active {
		background-color: #B8A038;
		color: #FFF;
	}
	.btn.rock:focus {
		--tw-ring-shadow: 0 0 0 2px #B8A03844;
	}
	.btn.bug {
		border: 2px solid #A8B820;
		color: #000;
	}
	.btn.bug:hover, .btn.bug.active {
		background-color: #A8B820;
		color: #FFF;
	}
	.btn.bug:focus {
		--tw-ring-shadow: 0 0 0 2px #A8B82044;
	}
	.btn.ghost {
		border: 2px solid #705898;
		color: #000;
	}
	.btn.ghost:hover, .btn.ghost.active {
		background-color: #705898;
		color: #FFF;
	}
	.btn.ghost:focus {
		--tw-ring-shadow: 0 0 0 2px #70589844;
	}
	.btn.steel {
		border: 2px solid #B8B8D0;
		color: #000;
	}
	.btn.steel:hover, .btn.steel.active {
		background-color: #B8B8D0;
		color: #FFF;
	}
	.btn.steel:focus {
		--tw-ring-shadow: 0 0 0 2px #B8B8D044;
	}
	.btn.fire {
		border: 2px solid #F08030;
		color: #000;
	}
	.btn.fire:hover, .btn.fire.active {
		background-color: #F08030;
		color: #FFF;
	}
	.btn.fire:focus {
		--tw-ring-shadow: 0 0 0 2px #F0803044;
	}
	.btn.water {
		border: 2px solid #6890F0;
		color: #000;
	}
	.btn.water:hover, .btn.water.active {
		background-color: #6890F0;
		color: #FFF;
	}
	.btn.water:focus {
		--tw-ring-shadow: 0 0 0 2px #6890F044;
	}
	.btn.grass {
		border: 2px solid #78C850;
		color: #000;
	}
	.btn.grass:hover, .btn.grass.active {
		background-color: #78C850;
		color: #FFF;
	}
	.btn.grass:focus {
		--tw-ring-shadow: 0 0 0 2px #78C85044;
	}
	.btn.electric {
		border: 2px solid #F8D030;
		color: #000;
	}
	.btn.electric:hover, .btn.electric.active {
		background-color: #F8D030;
		color: #FFF;
	}
	.btn.electric:focus {
		--tw-ring-shadow: 0 0 0 2px #F8D03044;
	}
	.btn.psychic {
		border: 2px solid #F85888;
		color: #000;
	}
	.btn.psychic:hover, .btn.psychic.active {
		background-color: #F85888;
		color: #FFF;
	}
	.btn.psychic:focus {
		--tw-ring-shadow: 0 0 0 2px #F8588844;
	}
	.btn.ice {
		border: 2px solid #98D8D8;
		color: #000;
	}
	.btn.ice:hover, .btn.ice.active {
		background-color: #98D8D8;
		color: #FFF;
	}
	.btn.ice:focus {
		--tw-ring-shadow: 0 0 0 2px #98D8D844;
	}
	.btn.dragon {
		border: 2px solid #7038F8;
		color: #000;
	}
	.btn.dragon:hover, .btn.dragon.active {
		background-color: #7038F8;
		color: #FFF;
	}
	.btn.dragon:focus {
		--tw-ring-shadow: 0 0 0 2px #7038F844;
	}
	.btn.dark {
		border: 2px solid #705848;
		color: #000;
	}
	.btn.dark:hover, .btn.dark.active {
		background-color: #705848;
		color: #FFF;
	}
	.btn.dark:focus {
		--tw-ring-shadow: 0 0 0 2px #70584844;
	}
	.btn.fairy {
		border: 2px solid #EE99AC;
		color: #000;
	}
	.btn.fairy:hover, .btn.fairy.active {
		background-color: #EE99AC;
		color: #FFF;
	}
	.btn.fairy:focus {
		--tw-ring-shadow: 0 0 0 2px #EE99AC44;
	}

	.matchup-item {
		@apply px-2 py-1 text-white;
	}

	/* -------- Autocomplete -------- */

	* { box-sizing: border-box; }
	.autocomplete {
		position: relative;
		display: inline-block;
	}
	input[type=text] {
		@apply bg-gray-100 w-64 md:w-96 px-4 py-2;
	}
	.autocomplete-items {
		@apply border-2 border-gray-200 border-t-0 border-b-0 absolute left-0 right-0 z-10 max-h-96 overflow-y-auto;
	}
	.autocomplete-items div {
		@apply p-2 bg-white border border-gray-200 cursor-pointer;
	}
	.autocomplete-items div:hover {
		@apply bg-gray-100;
	}
	.autocomplete-active {
		@apply bg-indigo-500 text-white !important;
	}

	/* purgecss end ignore */

}

@media (min-width: 640px) { /* sm */
}

@media (min-width: 768px) { /* md */
}

@media (min-width: 1024px) { /* lg */
}

@media (min-width: 1280px) { /* xl */
}